.reviews__container {
    padding-top: 20px;
    padding-bottom: 60px;
}

.reviews__title-wrapper {
    padding-top: 20px;
    /* justify-content: space-between; */
    align-items: center;
}

.reviews__item-title-link:hover .reviews__item-title {
    color: var(--main-color);
    transition: color 0.3 ease;
}

.reviews__title {
    margin: 0;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 32px;
    color: var(--main-text-color);
}

.reviews__add-link, .reviews__archived-reviews-link {
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.reviews__archived-reviews-link {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.reviews__archived-reviews-link:hover {
    background-color: var(--main-color);
    color: #fff;
}

.reviews__archived-reviews-link:focus {
    outline: 2px solid var(--orange);
}

.reviews__add-link {
    background-color: #f06210;
    color: white;
    transition: background-color 0.3s ease;
}

.reviews__add-link:hover {
    background-color: #b44302;
}

.reviews__add-link:focus {
    outline: 2px solid var(--main-color)
}

.reviews__count {
    margin: 0;
    margin-right: 20px;
    padding: 20px;
    background-color: rgb(181, 216, 240);
    border-radius: 5px 5px 0 0;
}

.reviews__filter-form {
    margin-bottom: 10px;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--main-color);
}

.filter-form__input {
    margin-right: 10px;
}

.filter-form__input:last-child {
    margin-right: 0;
}

.reviews__filter-form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--form-input-border);
    transition: border 0.3s ease background-color 0.3s ease;
}

.reviews__filter-form input[type="text"]:hover {
    border: 1px solid var(--main-color);
    background-color: var(--text-input-on-hover);
}

.reviews__filter-form input[type="text"]:focus {
    outline: 2px solid #f06210;
}

.reviews__filter-form input[type="date"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--form-input-border);
    transition: border 0.3s ease background-color 0.3s ease;
}

.reviews__filter-form input[type="date"]:hover {
    border: 1px solid var(--main-color);
    background-color: var(--text-input-on-hover);
}

.reviews__filter-form input[type="date"]:focus {
    outline: 2px solid #f06210;
}

.filter-form__submit {
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #fff;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form__submit:hover {
    background-color: var(--text-input-on-hover);
}

.filter-form__submit:focus {
    outline: 2px solid #f06210;
}

.reviews__item {
    margin-bottom: 30px;
    padding: 20px;
    /* max-height: 300px; */
    position: relative;
    background-color: #fff;
    /* box-shadow: 5px 5px 5px 5px rgba(206, 206, 206, 0.35); */
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.reviews__item::after {
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(to bottom right, #83b1cc, #fff, #fff, var(--orange));
    filter: blur(5px);
    z-index: -1;
}

.reviews__item:hover {
    box-shadow: 5px 5px 5px 5px rgba(206, 206, 206, 0.75);
}

.reviews__item:last-child {
    margin-bottom: 0;
}

.reviews__item-title-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__item-title {
    margin: 0;
    min-width: 50%;
    font-size: 24px;
    color: var(--main-text-color);
}

.reviews__item-category {
    padding: 10px;
    border-radius: 3px;
    background-color: var(--main-color);
    font-size: 18px;
    color: white;
    transition: background-color 0.3s ease;
}

.reviews__item-category:hover {
    background-color: rgb(50, 137, 196);
}

.reviews__item-category:focus {
    outline: 2px solid #f06210;
}

.reviews__item-wrapper {
    display: flex;
    justify-content: space-between;
}

.reviews__item-left {
    margin-right: 100px;
}

.reviews__item-description {
    margin: 0;
    margin-bottom: 20px;
    line-height: 23px;
    color: var(--main-text-color);
}

.reviews__item-author {
    margin: 0;
    margin-bottom: 10px;
    color: var(--main-text-color);
}

.reviews__item-date {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--grey-text);
}

.reviews__item-link {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: rgb(1, 95, 158);
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease;
}

.reviews__item-link:hover {
    background-color: rgb(50, 137, 196);
}

.reviews__item-link:focus {
    outline: 2px solid #f06210;
}

.reviews__item-right {
    display: flex;
    flex-direction: column;
}

.reviews__item-image {
    max-width: 200px;
    max-height: 150px;
    border-radius: 5px;
}

/* REVIEW_LIST PAGINATION */

.pagination__list {
    margin: 0 auto;
    padding: 10px;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.pagination__item {
    max-width: 80px;
}

.pagination__link {
    padding: 5px 10px;
}

.pagination__link--active {
    width: 30px;
    border: 1px solid var(--form-input-border);
    border-radius: 100%;
}