{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'review/css/categories.css' %}" />
{% endblock %}

{% block content %}

<section class="section categories">
    <div class="container categories__container">
        <h1 class="categories__title">{{ page_title }}</h1>
        <ul class="row categories__list list-reset">
            {% for category in categories %}
                <li class="category__item frame">
                    <div class="category__info-wrapper">
                        <a href="{{ category.get_absolute_url }}" class="categories__item-link">{{ category.name }}</a>
                        <p class="category__item-reviews-count">{{ category.reviews.count }} reviews</p>
                        {% if request.user.is_superuser %}
                        <a href="{% url 'review:category_update' category.slug %}" class="categories__item-edit">Edit</a>
                        <a href="{% url 'review:category_delete' category.slug %}" class="categories__item-delete">Delete</a>
                        {% endif %}
                    </div>
                    <a href="{{ category.get_absolute_url }}" class="category__image-link">
                        <div class="category__item-background-wrapper" style="background-image: url('{{ category.category_background.url }}');"></div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}