{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="about">
    <div class="container about__container">
        <div class="about__wrapper">
            <h1 class="about__title">This is NEWTEKREVIEWS</h2>
            <p class="about__text">
                Welcome to&nbsp;our cutting-edge reviews platform,
                your go-to destination for the latest and most comprehensive reviews organized by&nbsp;categories.
                Explore and discover insightful evaluations across a&nbsp;diverse range of&nbsp;topics.
                Stay informed and make informed decisions with our up-to-date reviews.
                Dive into the world of&nbsp;knowledge and expertise tailored to&nbsp;your interests.
            </p>
        </div>
    </div>
</section>
{% endblock %}