{% extends 'base.html' %}

{% comment %} {% block title %}All Reviews{% endblock %} {% endcomment %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'review/css/reviews.css' %}" />
{% endblock %}

{% block content %}

<section class="reviews">
    <div class="container reviews__container">
        <div class="reviews__title-wrapper flex">
            <h2 class="reviews__title">{{ info_heading }}</h2>
            {% if request.user.is_staff %}
            <a class="reviews__archived-reviews-link" href="{% url 'review:archived_reviews' %}">Archived Reviews</a>
            <a class="reviews__add-link" href="{% url 'review:review_create' %}">New review</a>
            {% endif %}
            <p class="reviews__count">Total: {{ filtered_reviews_count }}</p>
        </div>
        <form method="get" action="." class="reviews__filter-form frame flex">
            <div class="filter-form__input-wrapper flex">
                <input type="text" name="title" placeholder="Review title" class="filter-form__input filter-input" value="">
                <input type="text" name="description" placeholder="Description" class="filter-form__input filter-input" value="">
                <input type="date" name="time_created" class="filter-form__input filter-input" value="{{ filter.form.time_created.value }}" />
            </div>
            <button type="submit" class="filter-form__submit filter-submit btn-reset">Filter</button>
        </form>
        {% if reviews %}
        <ul class="reviews__list list-reset">
            {% for review in reviews %}
            <li class="reviews__item">
                <div class="reviews__item-title-wrapper">
                    <a href="{{ review.get_absolute_url }}" class="reviews__item-title-link"><h3 class="reviews__item-title">{{ review.title }}</h3></a>
                    <a href="{{ review.category.get_absolute_url }}" class="reviews__item-category">{{ review.category.name }}</a>
                </div>
                <div class="reviews__item-wrapper">
                    <div class="reviews__item-left">
                        <p class="reviews__item-description">{{ review.description|truncatewords:40 }}</p>
                        <p class="reviews__item-author">{{ review.author.username }}</p>
                        <span class="reviews__item-date">{{ review.time_created|date:"Y.m.d" }}</span>
                        <a class="reviews__item-link" href="{{ review.get_absolute_url }}">Read more</a>
                    </div>
                    <div class="reviews__item-right">
                        {% if review.main_image %}
                        <img class="reviews__item-image" src="{{ review.main_image.url }}" alt="{{ review.title }}">
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No reviews found</p>
        {% endif %}
    </div>
</section>
<nav class="pagination">
    <ul class="pagination__list flex frame list-reset">
        {% if page_obj.has_previous %}
        <li class="pagination__item">
            <a class="pagination__link pagination__link--prev" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="pagination__item">
            <a class="pagination__link pagination__link--next" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}